.nav-title{
    font-weight: 700;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1em;
    padding-left: 5em;
}
.heading{
    display: flex;
    justify-content: space-between;    
}
ul{
    display: flex;
    padding-top: 2em;
    padding-right: 7em;
}
li{
    color: #424242;
    font-weight: 500;
    padding-left: 2.5em;
    font-size: 1vw;
}
.banner-title{
    font-size: 3.5vw;
    font-weight: 900;
}
.banner-description{
    color: grey;
}
div img{
    width: 75%;
    padding-bottom: 2em;
}
.banner-contents{
    margin-left: 25em;
    margin-right: 25em;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.banner{
    text-align: center;
}
.btn-primary{
    background-color: rgb(240, 99, 17);
    border: 0;
    border-radius: 8px;
    height: 3.5em;
    width: 10em;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 3em;
}
.half-photos{
    margin-top: 4em;
    display: flex;
}
.half-photos img{
    width: 250px;
    padding-right: 1em;
    padding-bottom: 1em;
}
.rest-photos{
    display: flex;
}
.rest-photos img{
    width: 250px;
    padding-right: 1em;
}
.photos{
    padding-left: 12em;
}
.first-part-title{
    font-size: 2.5vw;
    font-weight: 800;
}
.grey-title{
    color: grey;
}
.orange-title{
    color: rgb(240, 99, 17);
    font-weight: 900;
}
.first-part-description{
    color: grey;
}
.features-1st-part{
    display: flex;
    align-items: center;
}
.first-part-contents{
    padding-left: 3em;
    padding-right: 15em;
}
.features-2nd-part{
    display: flex;
    margin: 3em 10em;
}
.second-part-title{
    font-size: 3vw;
    font-weight: 800;
}
.main-part-description{
    color: grey;
}
.feature-description{
    color: grey;
}
.features-2nd-part img{
    width: 45%;
}
.second-part-contents{
    padding-right: 10em;
}
.features-description{
    padding-left: 2em;
}
.button-secondary{
    background-color: rgb(240, 99, 17);
    border: 0;
    border-radius: 8px;
    height: 3em;
    width: 5em;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 3.5vw;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center;
    padding-left: 0;
    padding-right: 0.5em;
    margin-left: 12em;
}
.btn{
    font-size: 1vw;
    font-weight: 600;
}
.facts{
    margin-left: 10em;
    margin-right: 40em;
}
.facts-title{
    font-size: 3vw;
    font-weight: 800;
}
.facts-description{
    color: grey;
}
.award{
    width: 2em;
}
.awards{
    border: 1px solid rgb(240, 99, 17);
    margin-right: 4em;
    padding-top: 2em;
    padding-right: 1em;
    text-align: center;
}
.project{
    width: 2em;
}
.projects{
    border: 1px solid rgb(240, 99, 17);
    margin-right: 4em;
    padding-top: 2em;
    padding-right: 1em;
    text-align: center;
}
.client{
    width: 2em;
}
.clients{
    border: 1px solid rgb(240, 99, 17);
    margin-right: 4em;
    padding-top: 2em;
    padding-right: 1em;
    text-align: center;
}
.gmail{
    width: 2em;
}
.email{
    border: 1px solid rgb(240, 99, 17);
    margin-right: 4em;
    padding-top: 2em;
    text-align: center;
    padding-right: 1em;
}
.achievements{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
}
.number{
    font-size: 2vw;
    font-weight: 800;
    color: #424242;
}
.sponsors{
    width: 10%;
    mix-blend-mode: luminosity;
    margin-left: 5em;
}
.sponsors-detail{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3em;
}
.sponsor-title{
    font-size: 3vw;
    font-weight: 800;
}
.sponsor-description{
    color: grey;
}
.logo{
    margin-left: 7em;
}
footer{
    padding-top: 1.5em;
    border-radius: 5px;
    background-color: rgba(255, 144, 14, 0.1);
    height: 3em;
    width: 75%;
    margin-top: 3em;
    margin-left: 10em;
    text-align: center;
}